@value constants: "~/constants.css";
@value sans-font, serif-font, purple, gap, maxPhoneWidth, miniSpace from constants;

@value cardShadowColor: rgba(10,10,10,.1);

.card {
    composes: pure-g from global;

    /* border-width: 2px; */
    /* border-color: black;
    border-style: solid; */
    /* box-shadow:  2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1); */
    box-shadow: 0 0 0 1px cardShadowColor, 2px 2px cardShadowColor;
    border-radius: 6px;
    background-color: #ffff;
    margin-top: 1rem;

    padding: 1rem;
}

.name {
    composes: pure-u-1 from global;
}

.initiative {
    composes: pure-u-1 from global;
    composes: pure-u-sm-1-2 from global;
    composes: pure-u-md-1-3 from global;
    min-height: 2.5rem;
    background-color: lightgreen;
}

.health {
    composes: pure-u-1 from global;
    composes: pure-u-sm-1-2 from global;
    composes: pure-u-md-1-3 from global;
    min-height: 2.5rem;
    background-color: lavender;
}

.armorClass {
    composes: pure-u-1 from global;
    composes: pure-u-sm-1-2 from global;
    composes: pure-u-md-1-3 from global;
    min-height: 2.5rem;
    background-color: lightsalmon;
}

.notes {
    composes: pure-u-1 from global;
    composes: pure-u-sm-1-2 from global;
    composes: pure-u-md-1 from global;
    min-height: 2.5rem;
    background-color: lightsteelblue;
}

.buttons {
}
