@value white, purple from "~/constants.css";

.btn {
    composes: pure-button from global;
    composes: pure-button-primary from global;
    border-radius: 0.5em;
    color: white;
    background-color: purple;
    width: 100%;
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch; */
}

.btnText {
    flex: 1;
}

.btnIcon {
    flex: 1;
}
