@value boldBorderWidth from "~/constants.css";
@value boldBorderRadius from "~/constants.css";

.boldBorder {
    box-sizing: border-box;
    border-width: boldBorderWidth;
    border-style: solid;
    border-radius: boldBorderRadius;
}
